/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

/*----------------
    header styles
 ------------------*/
header {
  background-color: #2d25a0;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 86px;
  margin-bottom: 70px;
}
.header-title {
  /* font-family: "Poppins", sans-serif; */
  color: #ffffff;
  font-size: 36px;
}
.watch-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e02c6d;
  width: 168px;
  height: 44px;
  font-size: 16px;
}
.watch-button a {
  text-decoration: none;
  color: #ffffff;
  /* font-size: 16px; */
  padding-right: 8px;
}
.fa-arrow-right {
  color: #ffffff;
}
header:hover .watch-button {
  transform: rotateY(360deg);
  transition: transform 2s ease-in;
}
.header-banner img {
  width: 556px;
  height: 438px;
}
/*----------------
    base styles
 ------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  background: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------------------------
    players details styles
 -----------------------------*/
.container {
  width: 1050px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
}
.player {
  width: 300px;
  height: 434px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-banner img {
  width: 100%;
  height: 256px;
}
.player-title {
  color: #18191f;
  font-size: 28px;
  margin: 0%;
}
.player-info {
  color: #6c6c6c;
  font-size: 16px;
  margin: 0%;
  padding: 10px 0px 2px;
}
/*--------------------------------------
   Highlights of Copa America 2021 styles 
 ---------------------------------------*/
.match-highlights {
  display: flex;
  align-items: center;
  margin-top: 165px;
  margin-bottom: 158px;
}
.about-highlight {
  display: flex;
  flex-direction: column;
  width: 469px;
  margin-right: 66px;
}
.highlight-title {
  font-size: 32px;
}
.highlight-title h1 {
  margin: 0%;
}
.highlight-detail {
  font-size: 16px;
  color: #6c6c6c;
}
.highlight-banner img {
  width: 567px;
  height: 427px;
}
/*-----------------------------
 games and features styles
 ------------------------------ */
.feature-title {
  font-size: 48px;
  text-align: center;
}
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.feature {
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.feature-photo img {
  width: 350px;
  height: 300px;
}

.feature-details {
  display: none;
  position: absolute;
  top: 0%;
  height: 100%;
}

.feature-details h4 {
  color: #78a5e9;
  text-align: center;
}

.feature-details p {
  color: #ffffff;
  font-size: 12px;
  padding-left: 10px;
}

.feature:hover .feature-details {
  display: block;
  background-color: rgba(83, 82, 87, 0.637);
}

.feature:hover .feature-photo {
  transform: scale(1.2);
  transition: transform 1s ease-in;
}
.feature-time {
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
/*----------------------------
   footer styles
 -----------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo img {
  padding-right: 80px;
}
.logo-title {
  font-family: "Niconne", cursive;
  color: #10437a;
  font-size: 74px;
  margin: 0%;
  transform: translate(-80px, 0px);
}
.social-icons {
  /* display: flex;
  justify-content: center; */
  padding: 20px 0px;
}
.icon {
  color: #969bab;
  background-color: #e1dddc;
  padding: 7px;
  border-radius: 50%;
  margin-right: 14px;
}
.social-icons i:hover {
  opacity: 0.5;
}
small {
  font-size: 18px;
}

/* ------------------
    media queries
 ---------------------- */
@media only screen and (max-width: 668px) {
  .header {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .header-title,
  .highlight-title,
  .feature-title {
    font-size: 22px;
  }
  .watch-button {
    margin-bottom: 50px;
  }
  .header-banner img {
    width: 327px;
    height: 259.17px;
  }
  .container {
    width: 100%;
  }
  .players,
  .highlights,
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .match-highlights,
  .feature {
    flex-direction: column;
  }
  .match-highlights {
    padding: 30px 15px;
    margin: 0%;
  }
  .about-highlight {
    width: 329px;
    margin-right: 0%;
  }
  .highlight-banner img {
    width: 328px;
    height: 248px;
  }
  .feature {
    margin: 15px 0px;
  }
  .footer-logo img {
    width: 150px;
    height: 63px;
  }
  .logo-title {
    font-size: 32px;
  }
}
/* tab devices */
@media only screen and (min-width: 668px) and (max-width: 992px) {
  .header {
    display: flex;
    padding-left: 15px;
  }
  .header-banner img {
    width: 327px;
    height: 259.17px;
  }
  .container {
    width: 100%;
  }
  .players,
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .player,
  .feature {
    flex-direction: column;
  }
  .highlights {
    grid-template-rows: repeat(2, 1fr);
  }
  .match-highlights {
    margin: 30px 15px;
  }
  .about-highlight {
    width: 50%;
    margin-right: 0%;
    padding: 0px 20px;
  }
  .highlight-title {
    font-size: 18px;
  }
  .highlight-banner {
    margin-right: 0%;
    width: 50%;
  }
  .highlight-banner img {
    width: 80%;
    height: 80%;
  }
  .footer {
    width: 100%;
  }
}
